rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function userAccessPath(userId) {
      return /databases/(default)/documents/panelAccess/$(userId);
    }

    function isPanelAdmin() {
      return isSignedIn() &&
        firestore.exists(userAccessPath(request.auth.uid)) &&
        firestore.get(userAccessPath(request.auth.uid)).data.active == true &&
        firestore.get(userAccessPath(request.auth.uid)).data.role == "admin";
    }

    match /site/{section}/{allPaths=**} {
      allow read: if true;
      allow write: if isPanelAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
