rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function userAccessPath(userId) {
      return /databases/(default)/documents/panelAccess/$(userId);
    }

    function hasUserEmail() {
      return isSignedIn() &&
        request.auth.token.email is string &&
        request.auth.token.email.size() > 0;
    }

    function emailAccessPath() {
      return /databases/(default)/documents/panelAccess/$(request.auth.token.email);
    }

    function emailAccessPathLowerCase() {
      return /databases/(default)/documents/panelAccess/$(request.auth.token.email.toLowerCase());
    }

    function hasUidAccessProfile() {
      return isSignedIn() &&
        firestore.exists(userAccessPath(request.auth.uid));
    }

    function hasEmailAccessProfile() {
      return hasUserEmail() &&
        (firestore.exists(emailAccessPath()) || firestore.exists(emailAccessPathLowerCase()));
    }

    function currentUserAccess() {
      return hasUidAccessProfile()
        ? firestore.get(userAccessPath(request.auth.uid)).data
        : firestore.exists(emailAccessPath())
        ? firestore.get(emailAccessPath()).data
        : firestore.get(emailAccessPathLowerCase()).data;
    }

    function isPanelAdmin() {
      return (hasUidAccessProfile() || hasEmailAccessProfile()) &&
        currentUserAccess().active == true &&
        currentUserAccess().role == "admin";
    }

    match /site/{section}/{allPaths=**} {
      allow read: if true;
      allow write: if isPanelAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
